# Python build artifacts
dist/
build/
*.egg-info/
*.egg

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Coverage files
.coverage
coverage.xml

# Log files
*.log

# Poetry
poetry.lock

# Sphinx documentation
docs/_build/
